<!DOCTYPE html >
<html ng-app="opendataApp">
<head>
   <title></title>
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
   <link href="css/style.css" rel="stylesheet">
   <script src="bower_components/angular/angular.js"></script>
   <script src="js/app.js"></script>
   <script src="bower_components/angular-resource/angular-resource.js"></script>
   <script src="bower_components/angular-route/angular-route.js"></script>
     <script src="js/controllers.js"></script>
     <script src="js/services.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js"></script>
     <script src="js/google-maps.js"></script>


</head>
<body>
   <div class="container">
        <div class="template">
               <form ng-controller="SearchHitCtrl">
              <div class="input-group search">
                <input type="text" class="form-control"  autofocus="autofocus" ng-model="searchQuery" placeholder="Поиск по открытым данным...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" ng-click="changeUrl(searchQuery)">Вперед!</button>
                </span>
              </div><!-- /input-group -->
              </form>
          <div ng-view></div><s></s>
        </div>    
      </div>
   </body>
</html>