body {
/*  padding-top: 50px;*/
}
.template {
  padding: 40px 15px;
  /*text-align: center;*/
}

#results {
   margin-top: 30px;
}

.raw-result {
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
}